<br><center> Would you like to encode or decode?
	<form method="post" action="answers">
    <input type="text" name="encode_decode">
<br>
<br>
What is the word you want to use?
<br>
<input type="text" name="word">
    <br>
    <br>
Please enter a numerical value between 1 and 26 for your shift key?
<br>
    <input type="text" name="key">
    <br>
    <br>
<input type="submit">
</form>